.unused {
    background: none;
    opacity:0;
}

.impossible {
    background: red;
    opacity:0.3;
}

.sidenav {
  height: 300px;
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 10%;
  left: 25px;
  background-color: #111; /* Black */
  opacity:0.05;
  overflow-x: hidden; /* Disable horizontal scroll */
}

.unused:hover {
    opacity:0.3;
    background:lime;
}

.impossible:hover {
    opacity: 0.5;
    background:red;
}

.background {
    left:0px;
    top:0px;
}

.chunk {
    display:block;
    height:192px;
    position:absolute;
    width:192px;
}

*{padding:0;margin:0;}

body{
    font-family:Verdana, Geneva, sans-serif;
    background-color:#CCC;
}
