.unused {
    background: none;
    opacity:0;
}

.impossible {
    background: red;
    opacity:0.3;
}

.unused:hover {
    opacity:0.1;
    background:green;
}

.impossible:hover {
    opacity: 0.5;
    background:red;
}

.background {
    left:0px;
    top:0px;
}

.chunk {
    display:block;
    height:192px;
    position:absolute;
    width:192px;
}

*{padding:0;margin:0;}

body{
    font-family:Verdana, Geneva, sans-serif;
    background-color:#CCC;
}
