@import './Utils.scss';
@import './components/Map.scss';
@import './components/Modal.scss';
@import './components/forms/ToggleSwitch.scss';

#root,
body,
html {
  width: 100%;
  height: 100%;

  margin: 0;

  overflow: hidden;

  background: #000000;
}
